<div class="container">
        
    <form [formGroup] = "form" #f="ngForm" (ngSubmit)="submit(f)">
        <div class="form-group mb-3">
            <label for="applicationName" class="form-label">Application Name</label>
            <input 
                required
                formControlName="applicationName"
                id="applicationName" 
                type="text" 
                class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="version" class="form-label">Version</label>
            <input
                required 
                formControlName="version"
                id="version" 
                type="text" 
                class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="uploadInstaller" class="form-label">Upload Installer</label>
            <input 
                required
                formControlName="uploadInstaller"
                id="uploadInstaller" 
                type="file" 
                class="form-control file-upload"
                (change)="onselected($event)"
                onchange="console.log(event.target.files)">
        </div>

        <button class="btn btn-primary" type="submit" (click)="showSuccess()" [disabled]="!f.valid">Submit</button>
    </form>

</div>


