<div class="container">
  <div class="row">

    <div class="col-sm">
      <p class="title">Application Name</p>
      <p class="loop" *ngFor="let name of appNames">
          {{ name }}
      </p>
    </div>

    <div class="col-sm">
      <p class="title">Version</p>
      <p class="loop" *ngFor="let version of versions">
        {{ version }}
      </p>    
    </div>

    <div class="col-sm">
      <p class="title">Download Installer</p>
      <p *ngFor="let installer of installers; let i = index"> <button class="btn btn-primary" (click)="save(installer, i)">Download</button>
      </p>      
    </div>

    <div class="col-sm">
      <p class="title">Manage</p>
      <p *ngFor="let installer of installers; let i = index">  
        <button 
          mat-icon-button 
          (click)="delete(i)" 
          color="warn" 
          aria-label="Example icon-button with a delete icon">
          <mat-icon class="icon-display">delete</mat-icon>
        </button>

        <button 
          mat-icon-button 
          id="edit-btn" 
          (click)="edit(i)" 
          color="primary" 
          routerLink="/edit-installer"
          aria-label="Example icon-button with an edit icon">
          <mat-icon class="icon-display">edit</mat-icon>
        </button>
      </p>
    </div>

  </div>
</div>
   